@font-face {
  font-family: "GT America Extended";
  src: url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot");
  src: url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.svg#GT America Extended") format("svg");
}

@font-face {
  font-family: "GT America Extended Bold";
  src: url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.eot");
  src: url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.svg#GT America Extended Bold") format("svg");
}

* {
  margin: 0;
  padding: 0;
  cursor: none;
}

html,
body
{
  min-height: 100%;
  height: 90%;
  width: 100%;
  font-family: 'GT America Extended';
  background-color: rgb(14, 14, 14);
  align-items: center;
  overflow-x: hidden;
}

a {
  color: rgb(223, 212, 182);
  text-decoration: none;
  transition: color .15s ease-in-out;
}

img {
  opacity: 1;
}

a:hover {
  color: rgb(253, 242, 212);
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
  pointer-events: none;
  z-index: 0;
}

.webgl2
{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  outline: none;
  pointer-events: none;
}

.container {
  height: 90%;
  width: 100%;
  align-content: center;
  text-align: center;
}

.display{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-35%);
}

#title {
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

#intro {
  font-size: 3rem;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
}

#aboutmetitle {
  font-size: 2rem;
  padding-bottom: 15px;
  color: rgb(223, 212, 182);
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

#myskillstitle {
  font-size: 2rem;
  padding-bottom: 15px;
  color: rgb(223, 212, 182);
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

#aboutme {
  font-size: 1rem;
  width: 50%;
  padding-bottom: 30px;
  transform: translateX(50%);
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
}

.projectdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:600px;
}

.projects {
  display: inline-block;
  font-size: 3rem;
  text-align: left;
  padding-right: 30px;
  color: rgb(223, 212, 182, 0.8);
  transition: color .15s ease-in-out;
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

.projectdesc {
  text-align: left;
  display: inline-block;
  font-size: 1rem;
  width: 50%;
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
}

.skills {
  height: 75px;
  padding: 15px;
}

#nextbttn {
  font-family: 'GT America Extended';
  background-color: rgba(99, 99, 99, 0.247);
  border: none;
  color: rgba(255, 255, 255, 0.756);
  width: 100px;
  height: 30px;
  border-radius: 16px;
  animation: fadein 2s;
  transition: background-color .3s ease-in-out;
}

#nextbttn:hover {
  background-color: rgba(230, 230, 230, 0.247);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.footer {
  height: 10%;
  text-align: center;
}

.footer
img {
  transition: height .25s ease-in-out;
}

.footer
img:hover {
  height: 45px;
}