@font-face {
  font-family: "GT America Extended";
  src: url("./fonts/gtamericaextended.ttf") format("truetype");
}

@font-face {
  font-family: "GT America Extended Bold";
  src: url("./fonts/gtamericaextendedbold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'GT America Extended';
  background-color: rgb(14, 14, 14);
  align-items: center;
  overflow-x: hidden;
}

a {
  color: rgb(223, 212, 182);
  text-decoration: none;
  transition: color .15s ease-in-out;
}

a:hover {
  color: rgb(253, 242, 212);
}

.webgl
{
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
  pointer-events: none;
  z-index: 0;
}

.container {
  z-index: 1;
}

.display {
  height: 100vh;
  width: 100vw;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  text-align: center;
}

#title {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

#intro {
  font-size: 2.5rem;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
}

#aboutmetitle {
  font-size: 2rem;
  padding-top: 25px;
  padding-bottom: 15px;
  color: rgb(223, 212, 182);
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

#myskillstitle {
  font-size: 2rem;
  padding-bottom: 15px;
  color: rgb(223, 212, 182);
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

#aboutme {
  margin: auto;
  font-size: 1rem;
  width: 70%;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
}

.projectdiv {
  width: 70%;
}

.projects {
  margin: auto;
  font-size: 2.5rem;
  color: rgb(223, 212, 182, 0.8);
  transition: color .15s ease-in-out;
  animation: fadein 2s;
  font-family: 'GT America Extended Bold';
}

.projectdesc {
  margin: auto;
  font-size: 1rem;
  padding-top: 20px;
  width: 80%;
  color: rgba(255, 255, 255, 0.756);
  animation: fadein 2s;
}

.skills {
  height: 75px;
  padding: 15px;
}

#nextbttn {
  font-family: 'GT America Extended';
  background-color: rgba(99, 99, 99, 0.247);
  border: none;
  color: rgba(255, 255, 255, 0.756);
  width: 100px;
  height: 30px;
  border-radius: 16px;
  animation: fadein 2s;
  transition: background-color .3s ease-in-out;
}

#nextbttn:hover {
  background-color: rgba(230, 230, 230, 0.247);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 25px;
  height: 40px;
  width: 100%;
  text-align: center;
}

.footer
img {
  transition: height .25s ease-in-out;
}

.footer
img:hover {
  height: 45px;
}

  @media screen and (max-width: 1200px) {
    .container{
      height: 75vh;
    }

    .display {
      margin-top: 130px;
    }

    .projects {
      color: rgb(253, 242, 212)
    }
  
    #intro {
      padding-bottom: 15px;
    }
  
    #title {
      font-size: 2rem;
    }
  
    #intro {
      font-size: 16px;
    }
  
    #aboutmetitle {
      font-size: 16px;
    }
  
    #myskillstitle {
      font-size: 16px;
    }
  
    #aboutme {
      font-size: 12px;
    }
  
    #nextbttn {
      width: 80px;
      height: 22px;
    }

    .projectdiv {
      margin-top: -80px;
    }
  
    .projects {
      font-size: 16px;
    }
    
    .projectdesc {
      font-size: 12px;
      padding-top: 10px;
      width: 80%;
    }
  
    .skills {
      height: 40px;
    }
  
    .footer {
      position: absolute;
    }
  
    .footer img {
      height: 30px
    }
  }